<!-- My Books List Section -->
<section class="page-section" id="books-list">
  <div class="container">
    <h2 class="text-center mt-0">My books</h2>
    <hr class="divider my-4">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">ISBN</th>
            <th scope="col">Author</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each books as |book index|}}
          <tr>
            <th scope="row">{{book.ID}}</th>
            <td>{{book.ISBN}}</td>
            <td>{{book.Author}}</td>
            <td>{{book.Name}}</td>
            <td>
              {{#if book.Verified}}
              {{else}}
              <button style="background-color: orange; color: white; padding: 10px 20px; font-size: 16px;" onclick="updateOwner({{book.ID}})">
                        Verify!
              </button>
              {{/if}}
              {{!-- <button style="background-color: red; color: white; padding: 10px 20px; font-size: 16px;" onclick="deleteBookOwner({{book.ID}})">
                Return!
               </button>
              <a href="/delete-book/{{book.ID}}" class="btn btn-danger btn-sm">Delete</a> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function updateOwner(id) {
      fetch('/verify-book/' + id,  {
        method: 'PUT'
      })
    }
  </script>
</section>